<h2 class="text-muted">Viewing Reminder</h2>

<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @reminder.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reminder.content %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>

</div>



