<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bulma.css">
        <title>Admin Info</title>
    </head>
    <body>
        <div class="box" style="width:50%;margin:10px auto">
            <p class="has-text-right">
                <a class="button is-outlined" href="/dashboard">
                    Home <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                </a>
                <a class="button is-outlined" href="/logout">
                    Sign out <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </a>
            </p>
            <h1 class="title has-text-centered" style="margin: 50px auto;">Only admins can see this</h1>
            <h2 class="subtitle">What is Lorem Ipsum?</h2>
            <p style="text-align: justify;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </body>
</html>
