<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bulma.css">
        <title>Admin and Supervisor Info</title>
    </head>
    <body>
        <div class="box" style="width:50%;margin:10px auto">
            <p class="has-text-right">
                <a class="button is-outlined" href="/dashboard">
                    Home <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                </a>
                <a class="button is-outlined" href="/logout">
                    Sign out <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </a>
            </p>
            <h1 class="title has-text-centered" style="margin: 50px auto;">Both admins and supervisors can see this</h1>
            <h2 class="subtitle">Why do we use it?</h2>
            <p style="text-align: justify;">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </body>
</html>
